<br>
<br>
<div class="row">
	<div class="col-md-8 col-xs-8 col-xs-offset-2 col-md-offset-2">
	  <%= link_to 'Editar', edit_value_path(@value) %>
	</div>
	<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
	  <div class="panel panel-default">
	    <div class="panel-body">
	      <table class="table">
	        <tbody>
	            <tr>
	            	<td class="text-left col-md-6">Dolar:</td>
					<td><%= number_to_currency(@value.dolar, unit: "$",  precision: 0 , format: "%u %n") %></td>
					</tr>
	            <tr>
	                <td class="text-left col-md-6">Euro:</td>
	              	<td><%= number_to_currency(@value.euro, unit: "$",  precision: 0 , format: "%u %n") %></td>
	            </tr>
	            <tr>
	                <td class="text-left col-md-6">Costo por Tablet:</td>
	                <td><%= number_to_currency(@value.tablet_cost, unit: "$",  precision: 0 , format: "%u %n") %></td>
	            </tr>
	            <tr>
	                <td class="text-left col-md-6">Costo por Libro:</td>
	                <td><%= number_to_currency(@value.book_cost, unit: "$",  precision: 0 , format: "%u %n") %></td>
	            </tr>
	            <tr>
	                <td class="text-left col-md-6">Programa Iniciación:</td>
	                <td><%= number_to_currency(@value.iniciacion, unit: "$",  precision: 0 , format: "%u %n") %></td>
	            </tr>
	            <tr>
	                <td class="text-left col-md-6">Programa Avanzado:</td>
	                <td><%= number_to_currency(@value.avanzado, unit: "$",  precision: 0 , format: "%u %n") %></td>
	            </tr>
	            <tr>
	                <td class="text-left col-md-6">Programa Logro:</td>
	                <td><%= number_to_currency(@value.logro, unit: "$",  precision: 0 , format: "%u %n") %></td>
	            </tr>
	        </tbody>
	      </table>
	    </div>
	  </div>
	</div>
</div>
