

<div class="row">
  <h2 class="page-header col-md-offset-1 col-md-10">Usuarios</h2>
<div class="col-lg-10 col-lg-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
      <div class="col-md-6 col-md-offset-6 text-right"><%= link_to "+", new_user_path, class: "btn btn-primary btn-small" %></div>
      </div>
    </div>
    <div class="panel-body">
    <% if @users.any? %>
      <table class="table">
          <thead>
              <tr>
                  <th>Nombre</th>            
                  <th>Correo</th>            
                  <th>Rol</th>            
                  <th colspan="2" class="text-center">Acciones</th>
              </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <% if current_user != user %>
                <tr>
                  <td class="col-sm-5"><%= user.name+" "+user.last_name %></td>
                  <td class="col-sm-4"><%= user.email %></td>
                  <td class="col-sm-8"><%= user.roles[0].name %></td>                
                  <td>
                    <%= link_to edit_user_path(user), class: 'btn btn-info btn-simple btn-xs', title: 'Editar', rel: "tooltip" do %>
                      <i class="fa fa-edit"></i>
                    <% end %>    
                  </td>
                  <td>
                    <%= link_to delete_user_path(user), class: "btn btn-danger btn-simple btn-xs", rel: "nofollow", title: "Eliminar", method: :delete, data: { confirm: '¿Estas seguro?' } do %>
                      <i class="fa fa-times"></i>
                    <% end %>     
                  </td>
                  
                </tr>
              <% end %>
            <% end %>
          </tbody>
      </table>
    <% end %>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
  $(function() {
    $('a[rel="tooltip"]').tooltip();
    $('a[rel="nofollow"]').tooltip();
  });
</script>