

<div class="row">
  <h2 class="page-header col-md-offset-1 col-md-10 col-xs-10 col-xs-offset-1">Valores fijos</h2>
  <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
    <div class="panel panel-default">
      <div class="panel-body">
      <br>
      <%= form_for(client, html:{class:"form-horizontal form-label-left"}) do |f| %>
          <div class="form-group">
            <label class="control-label col-md-4" for="number">Nombre:
            </label>
            <div class="col-md-6">
              <%= f.text_field :name, class: "form-control col-md-7 datetime" %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4" for="number">Apellido:
            </label>
            <div class="col-md-6">
              <%= f.text_field :last_name, class: "form-control col-md-7datetime" %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4" for="number">Teléfono:
            </label>
            <div class="col-md-6">
              <%= f.text_field :phone, class: "form-control col-md-7datetime" %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4" for="number">Dirección:
            </label>
            <div class="col-md-6">
              <%= f.text_field :address, class: "form-control col-md-7 datetime" %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4" for="number">Comuna:
            </label>
            <div class="col-md-6">
              <%= f.select :comuna, options_for_select(["Santiago", "Cerrillos", "Cerro Navia", "Conchalí", "El Bosque", "Estación Central", "Huechuraba", "Independencia", "La Cisterna", "La Florida", "La Granja", "La Pintana", "La Reina", "Las Condes", "Lo Barnechea", "Lo Espejo", "Lo Prado", "Macul", "Maipú", "Ñuñoa" ,"Pedro Aguirre Cerda" ,"Peñalolén" ,"Providencia" ,"Pudahuel" ,"Quilicura" ,"Quinta Normal" ,"Recoleta" ,"Renca" ,"San Joaquín" ,"San Miguel" ,"San Ramón" ,"Vitacura"]), {prompt: "Seleccione comuna"}, class: "form-control col-md-7  datetime" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-4 col-md-offset-3 col-xs-4 col-xs-offset-2">
              <%= f.submit "Guardar", class: "btn btn-success" %>           
            </div>
            <div class="col-md-2 col-xs-2">
              <%= link_to "Cancelar", clients_path, class: "btn btn-primary" %>            
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
