<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Rbd:</strong>
  <%= @school.rbd %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @school.principal %>
</p>

<p>
  <strong>Principal email:</strong>
  <%= @school.principal_email %>
</p>

<p>
  <strong>Principal phone:</strong>
  <%= @school.principal_phone %>
</p>

<p>
  <strong>Utp:</strong>
  <%= @school.utp %>
</p>

<p>
  <strong>Utp email:</strong>
  <%= @school.utp_email %>
</p>

<p>
  <strong>Utp phone:</strong>
  <%= @school.utp_phone %>
</p>

<p>
  <strong>Tic:</strong>
  <%= @school.tic %>
</p>

<p>
  <strong>Tic email:</strong>
  <%= @school.tic_email %>
</p>

<p>
  <strong>Tic phone:</strong>
  <%= @school.tic_phone %>
</p>

<p>
  <strong>Isp:</strong>
  <%= @school.isp %>
</p>

<p>
  <strong>Bandwidth:</strong>
  <%= @school.bandwidth %>
</p>

<p>
  <strong>N teachers pre:</strong>
  <%= @school.n_teachers_pre %>
</p>

<p>
  <strong>N teachers pri:</strong>
  <%= @school.n_teachers_pri %>
</p>

<p>
  <strong>N teachers sec:</strong>
  <%= @school.n_teachers_sec %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
