<!doctype html>
<html lang="en">

<head>
  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AeroClassVip</title>

    <!-- Bootstrap -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/png" href="<%= image_url('favicon.ico') %>"/>
  </head>

<body>
	
	<div >   
		<%= render partial: "static/flash", flash: flash %>
		<%= yield %>
            
	</div>
</body>


</html>


<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').fadeOut(500);
  }, 4000);
 })
</script>